
<div class="starter-template">
        <h2>
            <!-- <i class="fa fa-cloud"></i> -->
            Consulta pedido
        </h2>
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="pb-2 mb-0">
                <img class="icon" src="assets/img/icones/icone-pedidos.png"alt="icon name">
                Pedidos
            </h6>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Valor total</th>
                        <th>Quant. de itens</th>
                        <th>Valor do frete</th>
                        <th>Cliente</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pedido of pedidos">
                        <td>{{ pedido.id }}</td>
                        <td>{{ pedido.valorTotal | currency : 'BRL':'symbol':'2.2-2' }}</td>
                        <td>{{ pedido.quantidadeDeItens }}</td>
                        <td>{{ pedido.valorFrete | currency : 'BRL':'symbol':'1.2-2' }}</td>
                        <td>{{ pedido.cliente.nome }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
