.logo {
  position: absolute;
  left: 4.17%;
  right: 86.46%;
  top: 14.81%;
  bottom: 14.81%;
  height: 38px;
  width: 135px;
  left: 60px;
  top: 8px;
  border-radius: 0px;
}

.cabecalho{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  width: 100%;
  height: 54px;
  bottom: 0%;
  background-color: #ffffff;
  border-radius: 4px;
}

.cadastro{
  position: relative;
  left: 200px;
  right: 5%;
  top: 10%;
  bottom: 35.19%;
}

.pedido{
  position: relative;
  left: 230px;
  right: 5%;
  top: 10%;
  bottom: 35.19%;
}


