<nav class="navbar navbar-expand-md navbar-light fixed-top cabecalho" style="position: fixed">
  <a class="navbar-brand" href="#"><img class="logo" style="" src="assets/img/icones/logotipo-maximatech.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
          aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse " >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown cadastro">
        <a class="nav-link dropdown-toggle " href="#" id="dropdownMenuLink" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Cadastro
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Cliente</a>
          <a class="dropdown-item" href="#">Produto</a>
        </div>
      </li>
      <li class="nav-item dropdown pedido">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Pedido
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/novo-pedido" routerLinkActive="active" href="#">Novo pedido</a>
          <a class="dropdown-item" routerLink="/consulta-pedido" routerLinkActive="active" href="#">Consulta pedido</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
