<form #f="ngForm" (ngSubmit)="finalizarPedido()">
  <div class="starter-template body">
    <div>
      <h2 id="text">
        Novo pedido
      </h2>
    </div>
  <!-- Card de Clientes-->
    <div class="card shadow p-3 mb-4 bg-white rounded" id="card">
      <div class="card-body ">
        <img class="icon icone" src="assets/img/icones/icone-cliente.png" alt="icon name">
        <h6 class="labelCliente">
          Cliente
        </h6>
        <div class="form-inline my-2 my-lg-0">
          <div class="input-group ">
            <select class="form-control buscaCliente "
                    [(ngModel)]="clienteSelecionado"
                    [ngModelOptions]="{standalone: true}"
                    name="selectCliente" #selectCliente="ngModel"
                    required >
              <option *ngFor="let cliente of clientes" [ngValue]="cliente">
                {{ cliente.nome }}
              </option>
            </select>
            <div class="input-group-append">
              <label class="input-group-text " >
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                  <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                </svg>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- FIM // Card de Clientes-->

    <!-- Card de Produtos-->
    <div class="card shadow p-3 mb-4 bg-white rounded" id="card">
      <img class="icon" src="assets/img/icones/icone-carrinho.png" alt="icon name">
      <h6 class="labelCliente">
        Produto
      </h6>
      <div class="form-inline my-2 my-lg-0">
        <div class="input-group">
          <select class="form-control"
                  [(ngModel)]="produtoSelecionado"
                  [ngModelOptions]="{standalone: true}"
                  (change)="selecionarProduto(produtoSelecionado)">
            <option *ngFor="let produto of produtos" [ngValue]="produto">
              {{ produto.codigo }} -
              {{ produto.nome }}
            </option>
          </select>
          <div class="input-group-append">
            <label class="input-group-text " >
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
              </svg>
            </label>
          </div>

          <!-- <input class="form-control" type="search" placeholder="Pesquisar um produto" aria-label="Pesquisar">
          <div class="input-group-append">
              <a class="input-group-text">
                  <img class="icon" src="assets/img/icones/icone-pesquisa.png"alt="icon name">
              </a>
          </div> -->
        </div>
      </div>
      <br>
      <div *ngFor="let item of produtosSelecionado">
        <div class="border-top border-bottom border-gray media text-muted pt-3">
          <!-- <img class="icon" src="assets/img/icones/icone-pesquisa.png"alt="icon name"> -->
          <!-- <div class="d-inline-flex p-2">Flex item 1</div> -->
          <div class="row container flex-inline-row-reverse">
            <div class="col-1 d-inline-flex flex-row p-2">
              <img class="icon-item" src="{{ item.imagemUrl || 'assets/img/icones/imagem-carrinho-empty-state.png' }}"
                   alt="">
            </div>
            <div class="col d-flex flex-row p-2">
              <div>
                <h6 class="item-id">{{ item.codigo }}</h6>
                <h4>{{ item.nome }}</h4>
              </div>
            </div>
            <div class="col d-flex flex-row-reverse p-2">
              <div class="item-middle">
                <h6 style="text-align: right">{{ item.quantidade }} x </h6>
                <h6>R$ {{ item.precoUnitario }}</h6>
              </div>
            </div>
            <div class="col-1 d-flex flex-row-reverse p-2">
              <a class="item-middle" (click)="removeProduto(item)">
                <img class="icon" src="assets/img/icones/icone-apagar.png" alt="icon name">
              </a>
            </div>

          </div>
        </div>
      </div>
      <div *ngIf="!produtosSelecionado.length" class="border-gray text-muted pt-3">
        <div class="align-middle" style="text-align: center">
          <img class="icon-empty" src="assets/img/icones/imagem-carrinho-empty-state.png" alt="">
          <h4>Carrinho vazio</h4>
          <h5>Nenhum produto foi inserido</h5>
        </div>
      </div>
    </div>
    <!-- FIM // Card de Produtos-->

    <!-- Card de Total-->
    <div class="card shadow p-3 mb-4 bg-white rounded cliente" id="card">
      <h6 class="border-bottom border-gray pb-2 mb-0">
        <img class="icon" src="assets/img/icones/icone-total.png" alt="icon name">
        Total
      </h6>
      <div class="row">
        <div class="col-sm">
          <div class="my-3 p-3 bg-white rounded shadow-sm">
            <ul class="list-group">
              <li class="list-group-flush d-flex justify-content-between align-items-center">
                <h5>Itens</h5>
                <span class="badge badge-primary badge-pill">R$ {{ totalItens }}</span>
              </li>
              <li class="list-group-flush  d-flex justify-content-between align-items-center">
                <h5>Frete</h5>
                <span class="badge badge-primary badge-pill">R$ {{ totalFrete }}</span>
              </li>
              <li class="list-group-flush  d-flex justify-content-between align-items-center">
                <br>
              </li>
              <li class="border-top border-gray list-group-flush  d-flex justify-content-between align-items-center">
                <h5>Total</h5>
                <span class="badge badge-primary badge-pill">R$ {{ totalPedido }}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm">
          <div class="my-3 p-3 bg-white rounded shadow-sm">
            <ul class="list-group">
              <li class="list-group-flush  d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-success form-control"
                        type="submit" [disabled]="!(produtoSelecionado && (clienteSelecionado != undefined ))">Finalizar pedido
                </button>
              </li>
              <li class="list-group-flush  d-flex justify-content-between align-items-center">
                <br>
              </li>
              <li class="border-top border-gray list-group-flush  d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-outline-dark form-control"
                        (click)="esvaziarCarrinho()">Limpar Carrinho
                </button>
              </li>
              <li class="list-group-flush  d-flex justify-content-between align-items-center">
                <br>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
