@font-face {
  font-family: "circularBold";
  src: url("../../assets/fontes/EuclidCircularB-Bold.otf") format("opentype");
}
@font-face {
  font-family: "circularLight";
  src: url("../../assets/fontes/EuclidCircularB-Light.otf") format("opentype");
}
@font-face {
  font-family: "circularMedium";
  src: url("../../assets/fontes/EuclidCircularB-Medium.otf") format("opentype");
}
.icon {
  width: 16px;
  height: 16px;
}

.icon-empty{
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
}

.icon-item{
  max-width: 70px;
  max-height: 70px;
  width: auto;
  height: auto;
}

.item-id {
  margin-bottom: 0px
}

.item-middle {
  margin-top: auto;
  margin-bottom: auto
}

#cliente{
  height: 152.66160583496094px;
  width: 1319px;
  left: 0px;
  top: -0.2965850830078125px;
  border-radius: 10px;

  position: absolute;
  left: 0%;
  right: 0%;
  top: -0.19%;
  bottom: 0.19%;


}

#carrinho{
  position: absolute;
  left: 0%;
  right: 0%;
  top: -0.07%;
  bottom: 6.89%;
}

#card{
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  background: #FFFFFF;
}
.card-body {
  flex: 1 1 auto;
  padding: 0rem;
}

.icone{
  left: 7.38%;
  right: 1.89%;
  top: 6.41%;
  bottom: 10.03%;
  height: 16.71331214904785px;
  width: 14.747037887573242px;
  left: 1.200286865234375px;
  top: 1.281463623046875px;
  border-radius: 0px;
}


.labelCliente{
  height: 2.411684px;
  width: 79.80215454101562px;
  left: 1.687896728515625px;
  top: 0px;
  border-radius: nullpx;

  position: relative;
  left: 2.23%;
  right: -7.82%;
  top: 0%;
  bottom: 0%;
  font-family: "circularMedium";
  font-size: 22.75px;
  line-height: 24px;

  display: flex;
  align-items: flex-end;
  color: #373A3C;
}

#text{
  font-family: "circularMedium";
  font-size: 26px;
  line-height: 24px;
  width: 297px;
  height: 24px;
  left: 60px;
  top: 84px;
  color: #000000;
  margin-top: 17px;
  margin-bottom: 17px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
.buscaCliente{
  height: 38.651824951171875px;
  width: 643.4049682617188px;
  left: 0.158233642578125px;
  top: 0px;
  border-radius: 4px;
  position: relative;
  left: 0.03%;
  right: -5.61%;
  top: 0%;
  bottom: 0%;

  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 4px;
}

.body {
  background-color: rgba(0,0,0,0);
  //position: relative;
  width: 100%;
  height: 100%;
}
